@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
:root {
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --mainFontFamily: 'Montserrat', sans-serif;
    --secondaryFontFamily: 'Fraunces', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    max-width: 90%;
    background-color: var(--White);
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
}

img{
    width: 100%;
}

.description {
    padding: 1.2rem;
}

.description h1 {
    color: var(--darkGrayishBlue);
    font-family: var(--mainFontFamily);
    font-size: 0.8rem;
    letter-spacing: 0.4rem;
    font-weight: 400;
}

.description h2 {
    color: var(--veryDarkBlue);
    margin: 0.8rem auto;
    font-family: var(--secondaryFontFamily);
    font-size: 2rem;
}

.description p {
    color: var(--darkGrayishBlue);
    font-family: var(--mainFontFamily);
    font-size: .9rem;
    line-height: 1.5rem;
    margin: 1rem auto;
}

.prices {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.actual-price {
    color: var(--darkCyan);
    font-family: var(--secondaryFontFamily);
    font-size: 2rem;
}

.crossed-price {
    color: var(--darkGrayishBlue);
    font-family: var(--mainFontFamily);
    text-decoration: line-through;
}

.description button {
    font-family: var(--mainFontFamily);
    font-size: .8rem;
    font-weight: 600;
    border-radius: .5rem;
    background-color: var(--darkCyan);
    color: var(--White);
    width: 95%;
    padding: 1rem;
    border: none;
}

.description button svg {
    vertical-align: middle;
}

.description button:hover {
    background: hsl(160, 35%, 20%);
    cursor: pointer;
}

@media (min-width:40rem){
    .card {
        grid-template-columns: 1fr 1fr;
        max-width: 40rem;
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}